* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	list-style-type: none;
}

/* Fixed-menu */ 

#menu-fixed {
	background: #e7e7e7;
	width: 100%;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#wrapper {
	padding: 15px 0 5px 0;
	background: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 0 0 1px;
}

#wrapper .item {
	display: inline-block;
	padding-left: 60px;
}

#wrapper ul li:not(:first-child):hover {
	padding-bottom: 12px;
}

#menu-fixed .logo {
	width: 130px;
}

#wrapper .item div {
	display: inline-block;
}

#wrapper .item div a:hover {
	border-bottom: 2px solid #20C05C;
	padding-bottom: 5px;
}

.item div a {
	color: #2b3a42;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

#wrapper .item div:not(:first-child) {
	margin-left: 20px;
}

#button {
	background: #20c05c;
	display: inline-block;
	text-align: center;
	height: 35px;
	border-radius: 40px;
	padding: 8px 5px 0 5px;
	width: 170px;
}

#button:first-child {
	margin: 0 20px 0 25px;
}

#button:hover {
	background: #24d666;
}

#button a {
	text-decoration: none;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
}

.menu-btn {
	float: right;
}

/* Header Cover */ 

.head-cover {
	background: url(images/bidsoptcareer.jpg) no-repeat;
	height: 416px;
}

.head-cover h3 {
	color: #FFF;
	font-size: 48px;
	line-height: 60px;
	font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 200px;
}

/* Main-container */ 

.main-container {
	padding: 30px 0 50px 0;
}

.main-container .wrapper .info-container {
	padding: 0 40px 0 40px;
}

.wrapper .info-container h3 {
	font-size: 21px;
    line-height: 30px;
    font-weight: 200;
    color: #2b3a42;
    font-family: 'PT Sans', sans-serif;
}

.articles-wrapper {
	padding: 50px 0 50px 0;
}

.articles-wrapper .article {
	text-align: center;
}

.articles-wrapper .article div {
	background: #e7e8e6;
	padding: 30px;
	min-height: 355px;
}

.articles-wrapper .article img {
	width: 100px;
}

.articles-wrapper .article h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 23px;
    font-weight: bold;
    color: #2b3a42;
}

.articles-wrapper .article h4 {
	font-family: 'Open Sans', sans-serif;
	color: #2b3a42;
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: .02em;
}

/* Banner */ 

.banner .wrapper3 {
	background: url(images/bf2.jpg) no-repeat;
	background-size: 100%;
}

.banner .wrapper3 .info-container {
	padding: 10px 0 60px 60px;
}

.wrapper3 .info-container h3 {
	font-size: 25px;
    margin-top: 50px;
    line-height: 35px;
    font-weight: 100;
    color: #fff;
}

.wrapper3 .info-container .btn {
	margin-top: 60px;
}

/* Footer */ 

.footer-container {
	padding-top: 15px;
	padding-bottom: 10px;
}

.footer-container .wrapper {
	padding-left: 65px;
}

.footer-menu .item {
	display: inline-block;
}

.footer-menu .item:not(:first-child) {
	margin-left: 20px;
}

.footer-menu .item a {
	color: #2b3a42;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.42857143;
}

.footer-menu .item a:hover {
	border-bottom: 1px solid #20C05C;
}

.legal {
	padding-top: 10px;
}

.legal li {
	display: inline-block;
	padding-left: 20px;
}

.legal li a {
	color: #000;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.42857143;
	font-weight: 400;
}

.legal li a:hover {
	border-bottom: 1px solid #20C05C;
}

.legal p {
	color: #2b3a42;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.42857143;
	font-weight: 400;
	padding-top: 2px;
}